/* GENERELLT */

.liten-tekst {
    font-family: "Ubuntu";
    font-size: 125%;
    padding: 3%;
}


.avsnitt-tekst {
    font-family: "Ubuntu";
    font-size: 125%;
    padding: 3%;
    line-height: 200%;
}

.andre-overskrifter {
    font-family: "Ubuntu";
    font-size: 225%;
    padding: 3%;
    padding-top: 7%;
}
.overskrift-hvit {
    color: #fff;
    font-family: "Ubuntu";
    font-size: 225%;
    padding: 3%;
}

.overskrift {
    font-family: "Ubuntu";
    font-size: 450%; 
    line-height: 1.5;
    font-weight: bold;
    color: #fff;
}


.icon {
    color: #000;
    margin-bottom: 1rem;
    padding-top: 4%;
}


:any-link {
    color: #000;
    
}

a:hover {
    color: #000;
}

a {
    text-decoration: none;
}


/* FARGE */
.farge1 {
    background-color: #D5BBB1;
}

.farge2 {
    background-color: #F8F7ED;
}

.card-body {
    background-color: #F8F7ED;
}

.btn-cards {
    color: #fff;
    background-color: #D5BBB1 ;
    border-color: #BF9788;
}

.btn-cards:hover {
    color: #fff;
    background-color: #BF9788 ;
    border-color: #A97360;
}



/* NAV BAR */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}


.nav-item {
    padding: 0 20px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Ubuntu";
}


/* OVERSKRIFT OG PROFILBILDE*/

#title .container-fluid {
    padding: 3% 15%;
    text-align: left;
}

.profilbilde {
    padding-left: 15%;
    height: 95%;
    width: 105%;
}



/* OM MEG */
.profilbilde2 {
    width: 518px;
    height: 455px;
    /* padding: 5%; */
    margin-left: 10%;
    margin-top: 10%;
}

.meg-box {
    padding-left: 7%;
    line-height: 2.5;
}



/* PROSJEKTER SPILL OG BILDER */

.prosjekt-rad {
    padding: 5%;
}



/* UTDANNING */

.linje-tekst{
    font-family: "Ubuntu";
    font-size: 125%;
}

.linje-overskrift {
    font-family: "Ubuntu";
    font-size: 225%;
}




/* ARBEIDSERFARING */
.arbeidserfaring-rad {
    text-align: center;
    padding: 3%;
}

.collection {
    list-style: none;
    margin-bottom: 0px;
    padding-bottom: 3%;
}

.icon-arbeid {
    padding-left: 3%;
    padding-top: 0%;
    color: #fff;
}

.arbeid {
    padding-bottom: 0%;
    margin-bottom: 0%;
}




/* SPRÅK */

.carousel {
    text-align: center;
}

.carousel-item {
    padding: 5% 15%;
}

.btn-carousel {
    background-color: #A97360;
    width: 20%;
}

.språk-tekst {
    padding-top: 2%;
}





/* HOBBY */
.hobby-rad {
    text-align: center;
    padding: 3%;
}



/* FOOTER */

#kontakt {
    text-align: center;
}

.icon-foot {
    padding: 1%;
    padding-top: 3%;
    color: #fff;
} 

.foot {
    margin-bottom: 0%;
    padding-top: 3%;
    color: #fff;
}


/* GALLERI */


.gallery {
    display: grid;
    grid-gap: 10px;
    background-color: #F8F7ED;
    padding: 1% 0;
  }



  /* PROSJEKTER HTML ALBUM */
  .row-album {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0px 8px;
  }
  
  .column img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .album-rad {
    padding-bottom: 1%;
    background-color: #F8F7ED;
  }

  /* BILDEGALLERI ALBUM */

  .column-bilde {
    flex: 33%;
    max-width: 33%;
    padding: 0px 8px;
  }




  /* ANDRE HTML SIDER */

  .hjem-knapp {
      font-size: 200%;
  }




