/* GENERELLT */

.liten-tekst {
    font-family: "Ubuntu";
    font-size: 125%;
    padding: 3%;
}

.avsnitt-tekst {
    font-family: "Ubuntu";
    font-size: 125%;
    padding: 3%;
    line-height: 200%;
}

.andre-overskrifter {
    font-family: "Ubuntu";
    font-size: 225%;
    padding: 3%;
}

.overskrift {
    font-family: "Ubuntu";
    font-size: 450%; 
    line-height: 1.5;
}


.icon {
    color: #000;
    margin-bottom: 1rem;
}


:any-link {
    color: #000;
    
}
a:hover {
    color: #000;
}

a {
    text-decoration: none;
}


/* SECTION FARGE */
.meg {
    background-color: red;
}

.prosjekter { 
    background-color: blue;
}

#utdanning {
    background-color: green;
}

#arbeidserfaring {
    background-color: yellow;
}

#språk {
    background-color: purple;
}

#hobby {
    background-color: orange;
}



/* NAV BAR */

.navbar {
    padding: 0 0 4.5rem;
    background-color: #D5BBB1;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}


.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Ubuntu";
}


/* OVERSKRIFT OG PROFILBILDE*/

#title .container-fluid {
    padding: 3% 15%;
    text-align: left;
    background-color: #D5BBB1;
}

.profilbilde {
    padding-left: 15%;
}


/* OM MEG */
.profilbilde2 {
    width: 518px;
    height: 455px;
    padding: 5%;
    padding-left: 10%;
}


/* PROSJEKTER SPILL OG BILDER */

.prosjekt-rad {
    padding: 3%;
}


/* UTDANNING */

.utdanning-rad {
    text-align: center;
    padding: 3%;
}


/* ARBEIDSERFARING */
.arbeidserfaring-rad {
    text-align: center;
    padding: 3%;
}


/* SPRÅK */

.carousel {
    text-align: center;
}

.carousel-item {
    padding: 3% 15%;
}

/* HOBBY */
.hobby-rad {
    text-align: center;
    padding: 3%;
}

/* FOOTER */

#kontakt {
    text-align: center;
}

.icon-foot {
    padding: 1%;
} 

/* GALLERI */

.gallery {
    display: grid;
    grid-gap: 10px;
  }
  
  .gallery img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
  }
  
  @media screen and (min-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    }
    .gallery img:nth-of-type(3) {
      grid-column: 2 / 4;
      grid-row: 1 / 3;
    }
  }




