/* GENERELLT */

.liten-tekst {
    font-family: "Ubuntu";
    font-size: 125%;
    padding: 3%;
}

.avsnitt-tekst {
    font-family: "Ubuntu";
    font-size: 125%;
    padding: 3%;
    line-height: 200%;
}

.andre-overskrifter {
    font-family: "Ubuntu";
    font-size: 225%;
    padding: 3%;
}

.overskrift {
    font-size: 450%; 
    line-height: 1.5;
}


.icon {
    color: #000;
    margin-bottom: 1rem;
}


:any-link {
    color: #000;
    
}
a:hover {
    color: #000;
}

a {
    text-decoration: none;
}


/* SECTION FARGE */
.meg {
    background-color: red;
}

.prosjekter { 
    background-color: blue;
}

#utdanning {
    background-color: green;
}



/* NAV BAR */

.navbar {
    padding: 0 0 4.5rem;
    background-color: #D5BBB1;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}


.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat" "sans-serif";
}


/* OVERSKRIFT OG PROFILBILDE*/
#title .container-fluid {
    padding: 3% 15%;
    text-align: left;
    background-color: #D5BBB1;
}

.profilbilde {
    padding-left: 15%;
}

/* OM MEG */
.profilbilde2 {
    width: 518px;
    height: 455px;
    padding: 5%;
    padding-left: 10%;
}

/* PROSJEKTER SPILL OG BILDER */

.prosjekt-rad {
    padding: 3%;
}

/* UTDANNING */

.utdanning-rad {
    text-align: center;
    padding: 3%;
}





